{% load static %}
<link rel="stylesheet" href="{% static 'lib/css/element-ui-2.2.2.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/select2.min.css' %}">
<style type="text/css">
	#id_userlist {
		width: 200px;
	}
</style>
<script type="text/javascript" src="{% static 'lib/js/vue-2.5.13.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/element-ui-2.2.2.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/admin_common.js' %}"></script>
